<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="FirebaseUrl" value="https://code-challenge-7.firebaseio.com" />
    <add key="FirebaseAccessToken" value="7gx7McBjKkw1lUgyhfcmjl4pJ2bUsMjfx8Sxwdtz" />
    <add key="DocumentDBEndpointUri" value="https://sogeticc7.documents.azure.com:443/" />
    <add key="DocumentDBPrimaryKey" value="AD4TQ5b1Ihmr9CoIO37CUucf0NKZYuLdEN4zwnNTJPtAkwykUn64EY16SQBA1b5NPBCTfxsfSwwX0MNY2utVPQ==" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>